<footer class=" dark:bg-gray-900 mt-10 bg-neutral-300">
    <div class="mx-auto w-full max-w-screen-xl p-0 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
              <a href="#" class="flex items-center">
                  <!-- <img src="https://flowbite.com/docs/images/logo.svg" class="h-8 me-3" alt="FlowBite Logo" /> -->
                  <span class="self-center text-xl lg:text-2xl  font-semibold whitespace-nowrap dark:text-white text-white">BlogName</span>
              </a>
          </div>
      </div>
      <!-- SOCIAL MEDIA -->
      <div class="flex mt-4 sm:justify-center sm:mt-0">
        <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="16"  height="16"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg>
            <span class="sr-only">Facebook page</span>
        </a>
        <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
            <svg width="16"  height="16"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M16.5 7.5l0 .01" /></svg>
            <span class="sr-only">X (Before Twitter) page</span>
        </a>
        <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
            <svg width="16"  height="16"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4l11.733 16h4.267l-11.733 -16z" /><path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" /></svg>
            <span class="sr-only">X (Before Twitter) page</span>
        </a>
        <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
            <svg width="16"  height="16"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" /><path d="M8 11l0 5" /><path d="M8 8l0 .01" /><path d="M12 16l0 -5" /><path d="M16 16v-3a2 2 0 0 0 -4 0" /></svg>
            <span class="sr-only">LinkedIn profile</span>
        </a>
    </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">Copyright BlogName™ 
            <a href="#" class="hover:underline">© 2024</a>. Todos los Derechos Reservados.
          </span>
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
            Made with ❤️ by <a href="https://www.linkedin.com/in/rafael-benitez-diaz/" target="_blank" class="text-gray-500 hover:underline dark:text-gray-400">DevRaffa</a>
          </span>
      </div>
    </div>
</footer>