---
import NavBar from "./NavBar.astro"
---

<header>
    <div class="flex items-center flex-col">
        <img class="h-auto max-w-full" src="/public/img/header.webp" alt="Imagen de Inicio del Blog">
    </div>

</header>  